.slidev-page-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.533)), url(https://images.unsplash.com/photo-1491002052546-bf38f186af56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1208&q=80) !important;
    backdrop-filter: brightness(60%) !important;
}

h1 + p {
    margin-top: 2rem !important;
    opacity: 1 !important;
}

blockquote {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-size: 1rem !important;
}

pre {
    margin: 1rem auto 1rem auto;
    line-height: normal !important;
}

code .line {
    font-size: medium !important;
}

.slidev-code {
    line-height: 1.5rem !important;
}

iframe {
    height: 80% !important;
    width: 80% !important;
    margin: 3rem auto 0 auto;
}

img[alt~="avatar"] {
    border-radius: 50%;
    margin-left: 5rem;
}

img[alt~="cc"] {
    display: inline !important;
}

.two-columns .col-right {
    padding-left: 1rem !important;
}

.two-columns .col-left {
    padding-right: 1rem !important;
}

.language-yaml code span {
    font-size: 14px !important;
}

